@page
@model OrderManagement.UI.Razor.Pages.ShoppingCartPageModel
@{
}
<h2>Your shopping cart</h2>
<h4>Here are the delicious pies in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Pie</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCartViewModel.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">@line.Product.Price.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("c"))
            </td>
            <td class="RemoveToCart">
                <p class="button">
                    <a class="btn btn-primary" asp-page="ShoppingCartPage" asp-page-handler="RemoveFromShoppingCart"
                       asp-route-productId="@line.Product.ProductId">Remove From cart</a>
                </p>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.ShoppingCartViewModel.ShoppingCartTotal.ToString("c")
        </td>
    </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-page="CheckOut" >Check out now!</a>
    <a class="btn btn-primary" asp-page="ShoppingCart" asp-page-handler="ClearAllItems">Clear Cart!</a>
</div>